/cache
/docs
/node_modules
/public/hot
/public/storage
/src/Infrastructure/PhpDocumentor
/storage
/vendor
.env
.env.backup
.htaccess
.phpdoc
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
_lighthouse_ide_helper.php
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
programmatic-types.graphql
schema-directives.graphql
yarn-error.log
/.idea
/.vscode
