/bootstrap/cache
/cache
/node_modules
/src/Interface/public/hot
/src/Interface/public/storage
/src/Infrastructure/storage
/vendor
.env
.env.backup
.htaccess
.phpdoc
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
_ide_helper_models.php
_ide_helper.php
_lighthouse_ide_helper.php
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
mix-manifest.json
npm-debug.log
package-lock.json
programmatic-types.graphql
schema-directives.graphql
yarn-error.log
/.idea
/.vscode
